@font-face {
  font-family: "iconfont"; /* Project id 2012050 */
  src: url('iconfont.woff2?t=1627439970921') format('woff2'),
       url('iconfont.woff?t=1627439970921') format('woff'),
       url('iconfont.ttf?t=1627439970921') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou-copy:before {
  content: "\e70e";
}

.icon-icon-test:before {
  content: "\e70d";
}

.icon-xianxingboshimao:before {
  content: "\e679";
}

.icon-xianxinglaoshi:before {
  content: "\e67c";
}

.icon-xianxingnvxuesheng:before {
  content: "\e67e";
}

.icon-xianxingwaijiao:before {
  content: "\e680";
}

