@keyframes _2m2BE {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes finger-moving-animation {
    0% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }

    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    to {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }
}
@keyframes _1Ct4LnY {
    0%,91%,to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    92.5%,98.5% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }

    95.5% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
}
@keyframes _3e3H9AGX{
    to{
        background-position:0 -734px;
    }
}