@keyframes piggyFingerFlash {
    0% {
        opacity: 0
    }

    66.66% {
        opacity: 1
    }

    to {
        opacity: 1
    }
}
@keyframes piggyFingerIcon {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        -webkit-transform: translate3d(.1rem,.1rem,0);
        transform: translate3d(.1rem,.1rem,0)
    }
}
@-moz-keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: 50px; }
}
@-webkit-keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: 50px; }
}
@keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: 50px;  }
}
@keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: 120px; }
}
@-webkit-keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: 120px; }
}
@-moz-keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: 120px; }
}

@keyframes animateCls_ltart_1630028639150_A{
  0.00%{ transform:scaleX(0);opacity:0 }
  40.38%{ transform:scaleX(0);opacity:0 }
  45.19%{ transform:scaleX(0);opacity:0 }
  50.00%{ transform:scaleX(1);opacity:1 }
  90.38%{ transform:scaleX(1);opacity:1 }
  95.19%{ transform:scaleX(0);opacity:0 }
  100.00%{ transform:scaleX(0);opacity:0 }
}
@keyframes animateCls_ltart_1630028639154_A{
  0.00%{ transform:scaleX(1);opacity:1 }
  40.38%{ transform:scaleX(1);opacity:1 }
  45.19%{ transform:scaleX(0);opacity:0 }
  50.00%{ transform:scaleX(0);opacity:0 }
  90.38%{ transform:scaleX(0);opacity:0 }
  95.19%{ transform:scaleX(0);opacity:0 }
  100.00%{ transform:scaleX(1);opacity:1 }
}
@keyframes bob {
  0% {
    transform: translateY(6px);
  }
  6.25% {
    transform: translateY(-6px);
  }
  12.5% {
    transform: translateY(6px);
  }
  18.75% {
    transform: translateY(-6px);
  }
  25% {
    transform: translateY(6px);
  }
  31.25% {
    transform: translateY(-6px);
  }
  37.5% {
    transform: translateY(6px);
  }
  43.75% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(6px);
  }
  56.25% {
    transform: translateY(-6px);
  }
  62.5% {
    transform: translateY(6px);
  }
  68.75% {
    transform: translateY(-6px);
  }
  75% {
    transform: translateY(6px);
  }
  81.25% {
    transform: translateY(-6px);
  }
  87.5% {
    transform: translateY(6px);
  }
  93.75% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(6px);
  }
}
@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  12.5% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(10deg);
  }
  37.5% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(23deg);
  }
  62.5% {
    transform: rotate(-23deg);
  }
  75% {
    transform: rotate(15deg);
  }
  87.5% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes beat {
    0% {
        transform: translate(580%,-20%) rotate(45deg)scale(1.2)
    }

    10% {
        transform: translate(580%,-20%) rotate(45deg)scale(1.3)
    }

    20% {
        transform: translate(580%,-20%) rotate(45deg)scale(1.4)
    }
}
@keyframes twinkle2 {
    0% {
        -webkit-transform: rotate(0deg) scale(0);
        transform: rotate(0deg) scale(0)
    }

    50% {
        -webkit-transform: rotate(540deg) scale(1.2);
        transform: rotate(540deg) scale(1.2)
    }

    100% {
        -webkit-transform: rotate(1080deg) scale(0);
        transform: rotate(1080deg) scale(0)
    }
}
@keyframes hob_shake {
    15%, 45%{
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
        transform-origin: 50% 100%; 
    }
    30%{
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
        transform-origin: 50% 100%;
    }
    60% ,100%{
    	-webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
}
@keyframes _2m2BE {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes finger-moving-animation {
    0% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }

    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    to {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }
}
@keyframes _1Ct4LnY {
    0%,91%,to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    92.5%,98.5% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }

    95.5% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
}
@keyframes _3e3H9AGX{
    to{
        background-position:0 -734px;
    }
}
@keyframes flight {
	100% {
		-webkit-transform: translate(20px, 30px) rotate(-4deg);
		-moz-transform: translate(20px, 30px);
		-ms-transform: translate(20px,30px);
		-o-transform: translate(20px, 30px);
		transform: translate(20px, 30px)
	}
	66% {
		-webkit-transform: translate(-15px, -25px) rotate(5deg);
		-moz-transform: translate(-15px, -25px) rotate(5deg);
		-ms-transform: translate(-15px, -25px) rotate(5deg);
		-o-transform: translate(-15px, -25px) rotate(5deg);
		transform: translate(-15px, -25px) rotate(5deg)
	}
	36% {
		-webkit-transform: translate(25px, 20px) rotate(-6deg);
		-moz-transform: translate(25px, 20px) rotate(-6deg);
		-ms-transform: translate(25px, 20px) rotate(-6deg);
		-o-transform: translate(25px, 20px) rotate(-6deg);
		transform: translate(25px, 20px) rotate(-6deg)
	}
	0% {
		-webkit-transform: translate(-20px, -15px) rotate(5deg);
		-moz-transform: translate(-20px, -15px) rotate(5deg);
		-ms-transform: translate(-20px, -15px) rotate(5deg);
		-o-transform: translate(-20px, -15px) rotate(5deg);
		transform: translate(-20px, -15px) rotate(5deg)
	}
}
@keyframes ball-scale-ripple {
    0% {
        -webkit-transform: scale(0.1);
                transform: scale(0.1);
        opacity: 1; }
    
      70% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0.7; }
    
      100% {
        opacity: 0.0; 
    }
}
@keyframes startLeft {
    0% {
        width: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        left:  16px;
    }
    10% {
        width: 15px;
    }
    30% {
        width: 30px;
        left: 20px;
    }
    50% {
        left: 30px;
    }
    70% {
        opacity: .8;
        left: 20px;
    }
    100% {
        width: 15px;
        -webkit-transform: translateY(-160px);
        transform: translateY(-160px);
        opacity: 0;
        left: 0;
    }
}
@keyframes startRight {
    0% {
        width: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        right:  16px;
    }
    10% {
        width: 15px;
    }
    30% {
        width: 30px;
        right: 20px;
    }
    50% {
        right: 30px;
    }
    70% {
        opacity: .8;
        right: 20px;
    }
    100% {
        width: 15px;
        -webkit-transform: translateY(-160px);
        transform: translateY(-160px);
        opacity: 0;
        right: 0;
    }
}
@keyframes BX_AniKey1-jsx-2017940065 {
    0% {
        opacity: 0.3;
        transform: scale(1.4, 1.4);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}
@keyframes farmv2bubble {
    0%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-.21333rem);
        transform: translateY(-.21333rem);
    }
}
@keyframes _1bSY3Vx {
    0%, 40% {
        -webkit-transform: translateY(0) rotateZ(0);
        transform: translateY(0) rotateZ(0);
    }
    66.5% {
        -webkit-transform: translateY(-36px) rotateZ(
    -180deg);
        transform: translateY(-36px) rotateZ(
    -180deg);
    }
    93%, 100% {
        -webkit-transform: translateY(0) rotateZ(
    -360deg);
        transform: translateY(0) rotateZ(
    -360deg);
    }
}
@keyframes skin{
    to{
      transform: rotate(.5turn);
    }
  }
  @keyframes bg{
    50%{
      background: #333;
    }
  }
@keyframes load51 {
    0% {
        box-shadow: -40px 0 0 rgba(250, 189, 189, 0),
                    inset 0 0 0 15px rgba(250, 189, 189, 0),
                    40px 0 0 rgba(250, 189, 189, 0);
    }
    30% {
        box-shadow: -40px 0 0 rgba(250, 189, 189, 1),
                    inset 0 0 0 15px rgba(250, 189, 189, 0),
                    40px 0 0 rgba(250, 189, 189, 0);
    }
    60% {
        box-shadow: -40px 0 0 rgba(250, 189, 189, 0),
                    inset 0 0 0 15px rgba(250, 189, 189, 1),
                    40px 0 0 rgba(250, 189, 189, 0);
    }
    100% {
        box-shadow: -40px 0 0 rgba(250, 189, 189, 0),
                    inset 0 0 0 15px rgba(250, 189, 189, 0),
                    40px 0 0 rgba(250, 189, 189, 1);
    }
}
@keyframes animtrans {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
      transform: rotateZ(0deg);
  }
}
@keyframes animtran {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes animate-bars {
  0% {
      background-position: 0 0
  }

  100% {
      background-position: 260px 0
  }
}