@keyframes _2m2BE {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes finger-moving-animation {
    0% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }

    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    to {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }
}
@keyframes _1Ct4LnY {
    0%,91%,to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    92.5%,98.5% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }

    95.5% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
}
@keyframes _3e3H9AGX{
    to{
        background-position:0 -734px;
    }
}
@keyframes flight {
	100% {
		-webkit-transform: translate(20px, 30px) rotate(-4deg);
		-moz-transform: translate(20px, 30px);
		-ms-transform: translate(20px,30px);
		-o-transform: translate(20px, 30px);
		transform: translate(20px, 30px)
	}
	66% {
		-webkit-transform: translate(-15px, -25px) rotate(5deg);
		-moz-transform: translate(-15px, -25px) rotate(5deg);
		-ms-transform: translate(-15px, -25px) rotate(5deg);
		-o-transform: translate(-15px, -25px) rotate(5deg);
		transform: translate(-15px, -25px) rotate(5deg)
	}
	36% {
		-webkit-transform: translate(25px, 20px) rotate(-6deg);
		-moz-transform: translate(25px, 20px) rotate(-6deg);
		-ms-transform: translate(25px, 20px) rotate(-6deg);
		-o-transform: translate(25px, 20px) rotate(-6deg);
		transform: translate(25px, 20px) rotate(-6deg)
	}
	0% {
		-webkit-transform: translate(-20px, -15px) rotate(5deg);
		-moz-transform: translate(-20px, -15px) rotate(5deg);
		-ms-transform: translate(-20px, -15px) rotate(5deg);
		-o-transform: translate(-20px, -15px) rotate(5deg);
		transform: translate(-20px, -15px) rotate(5deg)
	}
}
@keyframes ball-scale-ripple {
    0% {
        -webkit-transform: scale(0.1);
                transform: scale(0.1);
        opacity: 1; }
    
      70% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0.7; }
    
      100% {
        opacity: 0.0; 
    }
}
@keyframes startLeft {
    0% {
        width: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        left:  16px;
    }
    10% {
        width: 15px;
    }
    30% {
        width: 30px;
        left: 20px;
    }
    50% {
        left: 30px;
    }
    70% {
        opacity: .8;
        left: 20px;
    }
    100% {
        width: 15px;
        -webkit-transform: translateY(-160px);
        transform: translateY(-160px);
        opacity: 0;
        left: 0;
    }
}
@keyframes startRight {
    0% {
        width: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        right:  16px;
    }
    10% {
        width: 15px;
    }
    30% {
        width: 30px;
        right: 20px;
    }
    50% {
        right: 30px;
    }
    70% {
        opacity: .8;
        right: 20px;
    }
    100% {
        width: 15px;
        -webkit-transform: translateY(-160px);
        transform: translateY(-160px);
        opacity: 0;
        right: 0;
    }
}
@keyframes BX_AniKey1-jsx-2017940065 {
    0% {
        opacity: 0.3;
        transform: scale(1.4, 1.4);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}
@keyframes farmv2bubble {
    0%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-.21333rem);
        transform: translateY(-.21333rem);
    }
}
@keyframes _1bSY3Vx {
    0%, 40% {
        -webkit-transform: translateY(0) rotateZ(0);
        transform: translateY(0) rotateZ(0);
    }
    66.5% {
        -webkit-transform: translateY(-36px) rotateZ(
    -180deg);
        transform: translateY(-36px) rotateZ(
    -180deg);
    }
    93%, 100% {
        -webkit-transform: translateY(0) rotateZ(
    -360deg);
        transform: translateY(0) rotateZ(
    -360deg);
    }
}